html,body{
	background-image: url("background.png");
	background-size: cover;
	padding:0;
	margin:0;
	height:100%;
	width:100%;
}
.header{
	
	background-size: 100%;
	height:90%;
	width:100%;
}
.slogan{
	height:60%;
	width:40%;
	padding:10%;
	
}
.right{
	position:absolute;
	top:0;
	right:0;
	height:90%;
	width:40%;
}
.info{
	
	position:absolute;
	bottom:0;
	border-style: solid;
	width:70%;
	height:15%;
}
#infotext{
	color: white;
	font-family: petita;
	opacity: 1;
	text-align: center;
	visibility: visible;
	animation-name: textappear;
    animation-duration: 2s;
    animation-delay:0s;
    animation-iteration-count:1;
    animation-direction:alternate;
}
@keyframes textappear{
	from {opacity:0;}
    to {opacity:1;}
}

@font-face {
    font-family: petita;
    src: url(PetitaBold.ttf);
}
.text{
	font-family: petita;
	color: white;
	z-index: 1;
	width: 40%;
    height: 10%;
    position: absolute;
    left: 15%;
    top:35%;
    animation-name: text;
    animation-duration: 2s;
}
@keyframes text{
	from {left:11%;}
    to {left:15%;}
}
img.topbar{
	width:50%;
	position:absolute;
	right:0%;
	animation-name: topan;
    animation-duration: 2s;
}
@keyframes topan{
	from {right:25%;}
    to {right:0%;}
}
img.bottombar{
	width:50%;
	position:absolute;
	left:0%;
	animation-name: bottoman;
    animation-duration: 2s;
}
@keyframes bottoman{
	from {left:25%;}
    to {left:0%;}
}
img.phone{
	position:position: absolute;
	top:0;
}
img.bar{
	position: absolute;
    top: 30%;
	float: left;
	height:35%;
}
img.design{
	position: absolute;
	padding:-10px%;
    top: 5%;
	float:left;
	height:70%;

}
img.logo{
	padding:30px;
	float:left;
	width:5%;
}


.buttons {
	background-size: 100%;
	height:10%;
	width:20%;
	margin: auto;
}
img.google{
	float: left;
	width:48%;
}
img.apple{
	float: right;
	width:48%;
}

