html,body{
	background-image: url("img/background.png");
	background-size: cover;
	padding:0;
	margin:0;
	height:100%;
	width:100%;
}
.header{
	
	background-size: 100%;
	height:90%;
	width:100%;
}
.slogan{
	position:absolute;
	top:20;
	height:30%;
	width:50%;
}
.right{
	position:absolute;
	top:0;
	right:5%;
	height:90%;
	width:40%;
}

.info{
	position:absolute;
	bottom:2%;
	left:8%;
	width:70%;
	height:15%;
}
.phones{
	width:70%;
	position: absolute;
	left:0;
}


@font-face {
    font-family: myriad;
    src: url(fonts/MyriadProRegular.ttf);
}
#text{
	color: white;
	z-index: 1;
	width: 47%;
    height: 35%;
    position: absolute;
    left: 9%;
    top:35%;
    
}
#slotext{
	position:absolute;
	font-size:4.2vh;
	left: 0%;
	top:28%;
	width:93%;
	height:40%;
	transition: left 2s;
	font-family: myriad;
}
#infotext{
	color: white;
	font-size:2.3vh;
	padding-bottom: 7%;
	font-family: myriad;
	opacity: 1;
	text-align: center;
	vertical-align: center;
	visibility: visible;
    transition:opacity 1s;
}
#topbar{
	width:50%;
	height:4%;
	position:absolute;
	left:25%;
	top:0%;
	transition:left 1s;
}
#bottombar{
	width:50%;
	height:4%;
	position:absolute;
	right:25%;
	bottom:10%;
    transition:right 1s;
}

img.phone{
	position: absolute;
	height:65%%;
}
#p1{
	left:0%;
	bottom:20%;
	z-index: 4;
	opacity: 0;
	height:70%;
	transition: height 2s,opacity 1s,left 2s,z-index 2s,bottom 2s;
}
#p2{
	left:15%;
	bottom:25%;
	z-index: 3;
	opacity: 0;
	height:60%;
	transition: height 2s,opacity 1s,left 2s,z-index 2s,bottom 2s;
}
#p3{
	left:30%;
	bottom:30%;
	z-index: 2;
	opacity: 0;
	height:40%;
	transition: height 2s,opacity 1s,left 2s,z-index 2s,bottom 2s;
}
#p4{
	left:40%;
	z-index: 1;
	opacity: 0;
	height:40%;
	transition: height 2s,opacity 1s,left 2s,z-index 2s,bottom 2s;
}
button.imgbtn {
    border:0;
     padding:0;
     outline:0;
    background:transparent.
}
img.bar{
	position: absolute;
    top: 0%;
	float: left;
	z-index: 1;
	height:100%;
}
img.design{
	position: absolute;
    top: 14%;
	float:left;
	height:72%; 
	-webkit-animation:spin 160s linear infinite;
    -moz-animation:spin 160s linear infinite;
    animation:spin 160s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

img.logo{
	padding:30px;
	float:left;
	width:5%;
}
.buttons {
	background-size: 100%;
	height:10%;
	width:20%;
	margin: auto;
}
img.google{
	float: left;
	width:48%;
}
img.apple{
	float: right;
	width:48%;
}

