body{
	width:100%;
	background-image: url("img/backgroundm.png");
	background-size: cover;
	padding: 0;
	margin:0;
	border-width: 0;
	z-index: 0
}
#container{
	height: 100px;
	width:100%;
}
.layer1{
	position: fixed;
	top:0%;
	overflow: hidden; 
	width:100%;
	height:100%;
	border-width: 0;
	z-index:0;
}
.logo{
	width:70%;
	position: fixed;
	top:5%;
	left:15%;
	z-index:0;
}
.slo{
	height: 20vh;
	width:80%;
	position: fixed;
	bottom:25%;
	padding-left: 10%;

}
.layer2{
	position: absolute;
	background-image: url("img/blue.png");
	top:75%;
	width:90%;
	margin-left:5%;
	height:75%;
	border-width: 0;
	z-index:1;

}
.layer3{
	position: absolute;
	background-image: url("img/yellow.png");
	top:150%;
	width:90%;
	margin-left:5%;
	border-width: 0;
	height:75%;
	z-index:1;
}
.layer4{
	position: absolute;
	background-image: url("img/grey.png");
	top:225%;
	width:90%;
	margin-left:5%;
	border-width: 0;
	height:75%;
	z-index:1;
}
.layer5{
	position: absolute;
	background-image: url("img/yellow.png");
	top:300%;
	width:90%;
	margin-left:5%;
	border-width: 0;
	height:75%;
	z-index:1;
}
.phonediv{
	width:50%;
	position: absolute;
	bottom:0;
	border-width: 0;
	left:25%;

}
.ptext{
	padding-top: 7%;
	width:80%;
	margin:auto;
}
.buttons{
	width:90%;
	height:10vh;
	position:fixed;
	bottom:2vh;
	left:5%;
}
img.apple{
	width:48%;
	float:right;
}
img.google{
	width:48%;
	float:left;
}
p{
	font-size:5vw;
	font-family: larke;
	text-align: center;
}
p.phonetext{
	color:white;
	text-align: center;
}
img.phone{
	display: block;
	margin:auto;
	width:100%;
}
a{
	z-index:0;
}
#toplogo{
	width:100%;
	margin:auto;
	z-index: 0;
}
#slogan{
	color:gray;
	text-align: center;
}
@font-face {
    font-family: larke;
    src: url(fonts/LarkeNeueRegular.ttf);
}